{% extends '_base.html' %}

{% block title %}
Add Project
{% endblock title %}

{% block content %}

<main class="main">
    <section class="home section " id="home">
        <div class="home__container container grid">
            <h1>Add Project</h1>

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                {% for field in form %}
                    <label for="{{field.name}}">{{field.label}}</label>
                    {{ field }}
                    <br>
                    <br>
                {% endfor %}

                <input type="file" name="images" id="images" multiple>
                <br>
                <br>

                <input type="submit" value="Add" class="button">
            </form>
        </div>
    </section>
</main>

{% endblock content %}