{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />

    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    {% if '/projects/' in request.path %}

    <link rel="stylesheet" href="{% static 'css/project-details.css' %}">

    {% else %}

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    {% endif %}

    <title>
        {% block title %}{% endblock title %}
    </title>

    {% block extra_head %}{% endblock extra_head %}

</head>

<body class="dark-theme">

    {% include 'navbar.html' %}

    {% block content %}
    {% endblock content %}

    {% block scripts %}{% endblock scripts %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanta@0.5.21/dist/vanta.fog.min.js"></script>

    <script src="{% static 'js/main.js' %}"></script>

</body>

</html>